$primary_color: #29B362;
$secondary_color: #EEFAE5 ;
$third_color: #F2C94C ;
$font_color: #FFFFFF;
$font_color_secondary: #696969;

.body{
    font-family: 'Inter', sans-serif;
}

#container{
    position: relative;
    width: 1440px;
    height: auto;
    background-color: $primary_color;
}

@mixin hover_sidebar_button {
    background-color: #2ECC71;
    border-radius: 6px;
     }


#kiri{
    width: 248px;
    background-color: $secondary_color;
    padding: 0;
    border-radius: 0px 10px 0px 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    
    header{
        background: $primary_color;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 0px 10px 0px 0px;
        width: auto;
        height: 130px;
        margin: 0;
        padding: 0;
        .wrap{
            position: absolute;
            width: 215px;
            height: 40px;
            left: 15px;
            top: 45px;
            display: flex;
            align-items: center;
            a{
                color: $font_color;
                font-weight: 700;
                font-size: 32px;
                line-height: 40px;
                padding-right: 32px;
                text-decoration: none;
            }
            button{
                padding: 0;
                background-color: transparent;
                border: transparent;
            }
        }
    }
    
    .sidebar{
        background-color: $secondary_color;
        width: 224px;
        position: relative;
        margin: auto;
        
        hr{
            border: 1px solid black;
        }
        
        .profil{

            background-color: #FFFFFF;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            height: 181px;
            width: auto;
            .wrap{
                margin: 0;
                position: absolute; 
                padding-top: 17px;
                .wrap-profil{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-left: 20px;
                    .img{
                        width: 86px;
                        height: 86px;
                    }
                    .wrap-status-profile{
                        text-align: left;
                        #nama{font-weight: 700; 
                            font-size: 24px; 
                            margin: auto;}
                        #status{
                        font-weight: 700; 
                        font-size: 20px; 
                        color: #696969; 
                        margin: auto;
                            }

                    }
                }
                #position{
                    padding-left: 32px; 
                    margin-bottom: 6px;
                    text-align: left; 
                    font-style: italic; 
                    font-weight: 400; 
                    font-size: 12px; 
                    color: $font_color_secondary;
                }
                button{
                    background-color: $primary_color;
                    border: none;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
                    border-radius: 6px;
                    width: 104px;
                    height: 32px;
                    margin-right: 108.5px;
                    margin-left: 11.5px;
                    p{
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        color: #090909;
                        margin: 0;
                        padding: 0;
                        text-align: center;
                    }
                }
            }
    
        }

        @mixin button_menu{
                border-radius: 6px;
                height: 40px;
                background-color: transparent;
                border: none;
                display: flex;
                p{
                    color: #090909;
                    padding-left: 8px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px
                }
                img{
                    padding-left: 14px;
                }
        }

        .menu1{
            display: flex;
            flex-direction: column;
            gap: 4px;
            button{
                @include button_menu()
            }
            }

            button:hover{
                @include hover_sidebar_button()
            }
        }

        .menu2{
            
            display: flex; 
            flex-direction: column; 
            justify-content: space-between;
            .dropdown{
                display: flex;
                flex-direction: column;
                button{
                    border-radius: 6px;
                    height: 40px;
                    background-color: transparent;
                    border: none;
                    display: flex;
                    align-items: center; 
                    justify-content: space-between; 
                    img{
                         padding-left: 14px;
                    }
                    p{
                        color: #090909;
                        padding-left: 8px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: left;
                        margin: 0;
                        max-width: 148px;
                    }
                    .img-menu{
                        margin-left: auto;
                    }

                }
                button:hover{
                    @include hover_sidebar_button()
                }
                .dropdown-container{
                    display: none;
                    flex-direction: column;
                    button{
                        p{
                            padding-left: 42px;
                        }
                    }
                }
            }

        }

        .menu3{
            margin-top: 81px;
            button{
                background-color: $third_color;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
                border-radius: 6px;
                width: 232px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    margin: 0;
                    padding-left: 4px;
                }
            }
        }
        
    }

#main-content{
    background-color: $secondary_color;
    padding: 0;
    .header{
        background-color: $primary_color;
        height: 130px;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            color: $font_color;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            padding-left: 50px;
        }
        .menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 687px;
            .input-search{
                position: relative;
                background: #FFFFFF;
                opacity: 0.75;
                border-radius: 15px; 
                width: 354px; 
                height: 54px; 
                display: flex;
                img{
                    position: absolute;
                    height: 19.4px; 
                    width: 19.4px; 
                    margin: auto; 
                    margin-top: 17px;
                    margin-right: 17.4px;
                    margin-left: 27.4px;
                }
                input{
                    border: none; 
                    width: 100%; 
                    padding-left: 3.5rem; 
                    border-radius: 15px ;
                }
                input:focus, input:hover{
                    outline: none;
                    border: 2px solid $primary_color;
                    /* background-color: #fff; */
                    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
                   }
            
            }

        #notif{
            border: none; 
            background: #2ECC71;
            border-radius: 15px; 
            width: 54px; 
            height: 54px;
        }
        #store{
            border: none; 
            background: #2ECC71; 
            width: 220px; 
            height: 54px; 
            border-radius: 15px; 
            display: flex;
            align-items: center; 
            justify-content: center; 
            margin-right: 30.5px;
            p{
                margin: auto; 
                margin-left: 15px; 
                margin-right: 100px; 
                font-weight: 700; 
                font-size: 20px;
            }
        }
        }
        
        
    }

    .content{
        width: auto;
        // background-color: red;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        .content1{
            margin-top: 44px;
            background-color: white;
            width: 1031px;
            height: 108px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            position: relative;
            .isi{
                display: flex;
                align-items: center;
                gap: 15px;
                margin-left: 15px;
                margin-top: 15px;
                img{
                    width: 56px;
                    height: 56px;
                }
                .alamat{
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    h1{
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 40px;
                    }
                    p{
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
                #content-isi-text{
                    background: #FFF4F2; 
                    border: 1px solid #EEB4B0;
                    border-radius: 6px; 
                    width: 175px; 
                    height: 20px; 
                    font-weight: 550; 
                    font-size: 12px; 
                    color: #CB3A31;
                }
            }
        }
        .content2{
            // position: absolute;
            margin-top: 44px;
            background-color: white;
            width: 1031px;
            height: 239px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 12px;
            .title{
                // width: 1031px;
                height: 89px;
                background: #2ECC71;
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
                border-radius: 12px;
                #content2-judul{
                    text-align: left;
                    padding-top: 30px;
                    padding-left: 30px;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    color: #090909;

                }
            }
            .isi{
                display: flex;
                align-items: center;
                margin-left: 30px;
                margin-top: 27px;
                gap: 30px;
                img{
                    border: 3px solid #2ECC71;
                    border-radius: 5px; 
                    width: 92px; 
                    height: 92px;
                }
                .isi-konten{
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    h1{
                        font-weight: 700; 
                        font-size: 20px; 
                        margin: 0;
                    }
                    p{
                        background: #FFF4F2; 
                        border: 1px solid #EEB4B0;
                        border-radius: 6px; 
                        width: 175px; 
                        height: 20px; 
                        font-weight: 550; 
                        font-size: 12px; 
                        color: #CB3A31;
                        margin: 0;
                    }
                    button{
                        border: none; 
                        width: 63px;
                        height: 32px;
                        background: #2ECC71;
                        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}

// jquery
.kiri-header-wrap-a{
    display: none;
 }

 .kiri-width{
    width: 5%!important;
 }
 
.profil-menu{
    background: none!important;
    box-shadow: none!important;
    border-radius: none!important;
}

.wrap-profil-menu{
    display: none!important;
}

.menu1-menu{
    width:auto!important;
    align-items: center!important;
}
.menu1-menu-button{
    width:auto!important;
    
   
}
.menu1-menu-p{
    display: none!important;
}

.kiri-sidebar-menu1-button-img{
    padding-left: 0!important;
}

.kiri-menu2-dropdown-button-img{
    padding: 0!important;
}


.menu2-dropdown-button{
    width: 44px!important;
    justify-content: center!important;
}
.menu2-dropdown-p{display: none;}
.menu2-dropdown-img{display: none;}
.menu2-toogle{
    display: flex; 
    align-items:center!important;
    flex-direction: column; 
    justify-content: space-between;
}
.sidebar-menu{
    width: auto!important;
    margin: auto;
}

.menu3-menu {
    display:flex!important;
    align-items:center!important;
    justify-content:center!important;
    }

    .menu3-button-menu {
    display: block!important;
    width:44px!important;

    }

    .menu3-p-menu {
    display:none!important;}


// media query
@media (max-width: 575px) {
    #container {
       
    }
    
}
@media (min-width: 576px) {
    #container {
        
    }
}
@media (min-width: 992px) {
    #container {
        
    }
  

}

@media (min-width: 1600px) {
    #container {
        
        width: auto;
    }
    #kiri{
        width: 20%;
        
    }
    #kiri header .wrap{
        margin-left: 25%;
    }

    .content1{
        width: 90%;
    
    }
    .content2{
        width: 90%;
    }
    .content2 .title{
        width: auto;
    }

}