$primary_color: #29B362;
$secondary_color: #EEFAE5 ;
$fontthirdcolor: #CB3A31;
$font_color: #3267E3;
$ocean: #B1C5F6;
$border-color: #25A35A;


.body{
    font-family: 'Inter', sans-serif;
}

.content-kategori{
    margin-top: 20px;
    width: 1031px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
    .header-kategori{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid $border-color;
        h1{
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            margin: 30px;
            margin-bottom: 27px;
        }
        button{
            background: $primary_color;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
            border-radius: 6px;
            width: 68px;
            height: 32px;
            border: none;
            margin: 30px;
            margin-bottom: 27px;
        }
    }
    .content-content-kategori{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-left: 60px;
        margin-top: 30px;
        @for $i from 1 to 5{
            .wrap#{$i}{
                width: 941px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .wrap-2{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    p{
                        margin-bottom: 0;
                    }
                    .name{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                    }
                    .status{
                        width: 24px;
                        height: 20px;
                        background: #F0F3FF;
                        border: 1px solid #B1C5F6;
                        border-radius: 6px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p{
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            color: #3267E3;
                        }
                    } 
                }
                // toogle swipe button
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 34px;
                  }
                  
                  .switch input { 
                    opacity: 0;
                    width: 0;
                    height: 0;
                  }
                  
                  .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;
                  }
                  
                  .slider:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                  }
                  
                  input:checked + .slider {
                    background-color: $primary_color;
                  }
                  
                  input:focus + .slider {
                    box-shadow: 0 0 1px $primary_color;
                  }
                  
                  input:checked + .slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                  }
                  
                  /* Rounded sliders */
                  .slider.round {
                    border-radius: 34px;
                  }
                  
                  .slider.round:before {
                    border-radius: 50%;
                  }
                   
            
            }
        }
    }
}

.modal-content{
  width: 456px;
  height: 239px;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 61px;
  margin-top: 235px;
  p{
    margin: 0;
  }
  .modal-footer-kategori{
    display: flex;
    gap: 55px;
    #tidak{
    background-color: $fontthirdcolor;
    border: none;
    width: 74px;
    height: 40px;
    }
    #ya{
    background-color: $primary_color;
    border: none;
    width: 74px;
    height: 40px;
    color: black;
    }
    #simpan{
      width: 388px;
      height: 40px; 
      background-color: $primary_color;
    }
  }
  .modal-form-body-kategori{
    width: 388px;
    h1{
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      text-align: left;
      margin: 0;
    }
    .input-form{
      margin-top: 15px;
      display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      gap: 15px;
      input{
        width: 255px;
        height: 42px;
        border: 1px solid #B0B0B0;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        background-color: #FFFFFF;
      }
    }
  }
  
}
