@mixin dropdown-menu{
    padding: 0;
       li{
           .dropdown-item{
               margin: 0;
               font-weight: 400;
               font-size: 14px;
               line-height: 22px;
               padding-top: 6px;
               padding-bottom: 6px;
           }

       }
}

.Menu-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 50px;
    gap: 30px;
    .back{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        width: 105px;
        height: 32px;
        background-color: #2ECC71;
        background: #2ECC71;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
        border-radius: 6px;
        border: none;
        p{
            margin: 0;
          
        }
    }
    .wrap-sorting{
        display: flex;
        align-items: center;
        gap: 10px;
        select{
            background-color: transparent;
            border: none;
            outline: 0;
            border-radius: 9px;
            color: #8E8E8E;
        }
        p{
            margin: 0;
        }
        .button-wrap{
        display: flex;
        gap: 10px;
        align-items: center;
        margin-left: 30px;
        
            .change{
                background-color: #2ECC71;
            border: none;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
            border-radius: 6px;
            width: 32px;
            height: 32px;
            }
            .menu{
                display: flex;
                align-items: center;
                width: 146px;
                height: 32px;
                left: 626px;
                top: 232px;
                background: #2ECC71;
                box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
                border-radius: 6px;
                gap: 4px;
                border: none;
    
                p{
                    margin: 0;
                }
            }
        }
    }
    .filter{
        button{
            background-color: #2ECC71;
            border: none;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
            border-radius: 6px;
            width: 32px;
            height: 32px;
        }
        button:hover{
            background-color: #2cbb67;
        }
    }
    .menu-content{
        width: 900px;
        background-color: aliceblue;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .menu-card{
            background-color: white;
            width: 280px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .background{
                
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 24px;
                img{
                    width: 100%;
                    height: 200px;
                }
            }
            .main-content-card{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 16px;
                margin-top: 24px;
                input{
                    width: 16px;
                    height: 16px;
    
                }
                .keterangan{
                    background-color: #F0FCF6 ;
                    width: 232px;
                
                    .keterangan-isi{
                        margin-left: 5px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        p{
                            margin:0;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22px;
                        }
                        .p-keterangan{
                            width: 110px;
                            text-align: left;
                        }
                    }
                    .status{
                        margin-left: 5px;
                        width: 43px;
                        height: 20px;
                        background: #F0FCF6;
                        border: 1px solid #B9EED0;
                        border-radius: 6px;
                        p{text-align: left;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            color: #2ECC71;}
                    }
                    h1{
                        margin-left: 5px;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 32px;
                        text-align: left;
                    }
                }
                .dropdown{
                   margin-bottom: 24px;
                    width: 79px;
                    height: 34px;
                    background-color: #2ECC71;
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
                    border-radius: 6px;
                    .btn{
                        border: none;
                    }
                    


                    .dropdown-menu{
                        @include dropdown-menu();
                    }
                    
                }
                .dropdown-menu:hover{
                    li{
                        .dropdown-item:hover{
                            background-color: #2ECC71;
                            
                        }
                    }
                 }
            }

            
        }
    }
    .menu-table{
        display: none;
        .table{
            width: 1048px;
            height: 48px;
            thead{
                background-color: #2cbb67;
                tr{
                    th{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }
            tbody{
                background-color: #ffff;
               
                td{
                    .dropdown{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 24px;
                         width: 79px;
                         height: 34px;
                         background-color: #2ECC71;
                         box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
                         border-radius: 6px;
                         .btn{
                             border: none;
                         }
                         .dropdown-menu{
                           @include dropdown-menu();
                         }
                         .dropdown-menu:hover{
                            li{
                                .dropdown-item:hover{
                                    background-color: #2ECC71;
                                    
                                }
                            }
                         }
                         
                     }
                     .status{
                        .aktif{
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            color: #2ECC71;
                            background: #F0FCF6;
                            border: 1px solid #B9EED0;
                            border-radius: 6px;
                            padding: 2px;
                            padding-left: 8px;
                            padding-right: 8px;
                        }
                        .nonaktif{
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 16px;
                            color: #CB3A31;
                            background: #FFF4F2;
                            border: 1px solid #EEB4B0;
                            border-radius: 6px;
                            padding: 2px;
                            padding-left: 8px;
                            padding-right: 8px;
                        }
                     }
                }
                
            }
        }
    }

    .input-content{
        display: none;
        width: 1092px;
        height: 824px;
        .baris1{
            margin: 30px;
            margin-right: 42px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .gambar{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            .status{
                background: #F0FCF6;
                border: 1px solid #B9EED0;
                border-radius: 6px;
                p{
                    margin: 0;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    color: #2ECC71;
                    padding: 8px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                }
            }
            
        }
        .baris2{
            margin: 30px;
            margin-right: 42px;
            display: flex;
            flex-direction: column;
            gap: 47px;
            .input{
                display: flex;
                gap: 20px;
                p{
                    text-align: left;
                    width: 227px;
                    margin: 0;
                    color: #8E8E8E;
                }
                input{
                    width: 644px;
                    height: 42px;
                    background: #D5D5D5;
                    border: 1px solid #B0B0B0;
                    border-radius: 6px;
                    color: #8E8E8E;
                }

            }
        }
        .baris3{
            margin: 30px;
            margin-right: 42px;
            .judul{
                margin-bottom: 15px;
               h1{
                text-align: left;
                   font-weight: 700;
                    font-size: 14px;
                    line-height: 18px
               } 
            }
            .baris3-content{
                .table{
                    width: 400px;
                    height: 146px;
                    thead{
                        background-color: #2ECC71;
                    }
                    tbody{
                        background-color: #F0FCF6;
                        tr{
                            border-bottom: #B0B0B0;
                        }
                    }
                }
            }
        }
    }
}
