.body {
  font-family: "Inter", sans-serif;
}

.containerr {
  width: auto;
  background-color: #F0FCF6;
  display: flex;
}
.containerr aside {
  position: relative;
  width: 349px;
  height: 1024px;
  background: #F0FCF6;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.containerr aside h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
  padding-top: 30px;
}
.containerr .kanan {
  box-sizing: border-box;
  background-color: #F0FCF6;
  width: 100%;
}
.containerr .kanan header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: auto;
  height: 130px;
  background: #F0FCF6;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.containerr .kanan header h1 {
  padding-left: 53px;
  padding-top: 30px;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}
.containerr .kanan main {
  display: flex;
  flex-direction: column;
  height: auto;
  background: #EEFAE5;
}
.containerr .kanan main .back {
  background-color: #2ECC71;
  border: none;
  width: 105px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  margin: 30px;
  gap: 4px;
}
.containerr .kanan main .back p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.containerr .kanan main .form {
  display: flex;
  flex-direction: column;
  gap: 47px;
  width: 1031px;
  background: #FFFFFF;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: auto;
  margin-left: 30px;
  margin-top: 0;
}
.containerr .kanan main .form .baris1 {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.containerr .kanan main .form .baris1 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.containerr .kanan main .form .baris1 .input {
  display: flex;
  flex-direction: column;
}
.containerr .kanan main .form .baris1 .input input[type=text] {
  width: 644px;
  height: 42px;
  background-color: #FFFFFF;
  border: 1px solid #B0B0B0;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  margin-right: 110px;
}
.containerr .kanan main .form .baris1 .input input:hover, .containerr .kanan main .form .baris1 .input input:focus {
  outline: none;
  border: 4px solid #2ECC71;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
.containerr .kanan main .form .baris1 .input .invalid-feedback {
  margin-top: 5px;
}
.containerr .kanan main .form .baris6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 4px;
  margin-left: 30px;
}
.containerr .kanan main .form .baris6 p {
  margin: 0;
}
.containerr .kanan main .form .baris6 .otp {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.containerr .kanan main .form .baris6 .remind {
  color: #CB3A31;
}
.containerr .kanan main .form .lanjutkan {
  background-color: #2ECC71;
  border: none;
  width: 117px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  gap: 4px;
  margin-left: 841px;
  margin-bottom: 30px;
}
.containerr .kanan main .form .lanjutkan p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.containerr .kanan main .form .baris2 {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.containerr .kanan main .form .baris2 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.containerr .kanan main .form .baris2 .input {
  display: flex;
  flex-direction: column;
}
.containerr .kanan main .form .baris2 .input input[type=text] {
  width: 644px;
  height: 42px;
  background-color: #FFFFFF;
  border: 1px solid #B0B0B0;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  margin-right: 110px;
}
.containerr .kanan main .form .baris2 .input input:hover, .containerr .kanan main .form .baris2 .input input:focus {
  outline: none;
  border: 4px solid #2ECC71;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
.containerr .kanan main .form .baris2 .input .invalid-feedback {
  margin-top: 5px;
}
.containerr .kanan main .form .baris6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 4px;
  margin-left: 30px;
}
.containerr .kanan main .form .baris6 p {
  margin: 0;
}
.containerr .kanan main .form .baris6 .otp {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.containerr .kanan main .form .baris6 .remind {
  color: #CB3A31;
}
.containerr .kanan main .form .lanjutkan {
  background-color: #2ECC71;
  border: none;
  width: 117px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  gap: 4px;
  margin-left: 841px;
  margin-bottom: 30px;
}
.containerr .kanan main .form .lanjutkan p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.containerr .kanan main .form .baris3 {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.containerr .kanan main .form .baris3 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.containerr .kanan main .form .baris3 .input {
  display: flex;
  flex-direction: column;
}
.containerr .kanan main .form .baris3 .input input[type=text] {
  width: 644px;
  height: 42px;
  background-color: #FFFFFF;
  border: 1px solid #B0B0B0;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  margin-right: 110px;
}
.containerr .kanan main .form .baris3 .input input:hover, .containerr .kanan main .form .baris3 .input input:focus {
  outline: none;
  border: 4px solid #2ECC71;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
.containerr .kanan main .form .baris3 .input .invalid-feedback {
  margin-top: 5px;
}
.containerr .kanan main .form .baris6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 4px;
  margin-left: 30px;
}
.containerr .kanan main .form .baris6 p {
  margin: 0;
}
.containerr .kanan main .form .baris6 .otp {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.containerr .kanan main .form .baris6 .remind {
  color: #CB3A31;
}
.containerr .kanan main .form .lanjutkan {
  background-color: #2ECC71;
  border: none;
  width: 117px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  gap: 4px;
  margin-left: 841px;
  margin-bottom: 30px;
}
.containerr .kanan main .form .lanjutkan p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.containerr .kanan main .form .baris4 {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.containerr .kanan main .form .baris4 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.containerr .kanan main .form .baris4 .input {
  display: flex;
  flex-direction: column;
}
.containerr .kanan main .form .baris4 .input input[type=text] {
  width: 644px;
  height: 42px;
  background-color: #FFFFFF;
  border: 1px solid #B0B0B0;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  margin-right: 110px;
}
.containerr .kanan main .form .baris4 .input input:hover, .containerr .kanan main .form .baris4 .input input:focus {
  outline: none;
  border: 4px solid #2ECC71;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
.containerr .kanan main .form .baris4 .input .invalid-feedback {
  margin-top: 5px;
}
.containerr .kanan main .form .baris6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 4px;
  margin-left: 30px;
}
.containerr .kanan main .form .baris6 p {
  margin: 0;
}
.containerr .kanan main .form .baris6 .otp {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.containerr .kanan main .form .baris6 .remind {
  color: #CB3A31;
}
.containerr .kanan main .form .lanjutkan {
  background-color: #2ECC71;
  border: none;
  width: 117px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  gap: 4px;
  margin-left: 841px;
  margin-bottom: 30px;
}
.containerr .kanan main .form .lanjutkan p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.containerr .kanan main .form .baris5 {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  justify-content: space-between;
}
.containerr .kanan main .form .baris5 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.containerr .kanan main .form .baris5 .input {
  display: flex;
  flex-direction: column;
}
.containerr .kanan main .form .baris5 .input input[type=text] {
  width: 644px;
  height: 42px;
  background-color: #FFFFFF;
  border: 1px solid #B0B0B0;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  margin-right: 110px;
}
.containerr .kanan main .form .baris5 .input input:hover, .containerr .kanan main .form .baris5 .input input:focus {
  outline: none;
  border: 4px solid #2ECC71;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}
.containerr .kanan main .form .baris5 .input .invalid-feedback {
  margin-top: 5px;
}
.containerr .kanan main .form .baris6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 4px;
  margin-left: 30px;
}
.containerr .kanan main .form .baris6 p {
  margin: 0;
}
.containerr .kanan main .form .baris6 .otp {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.containerr .kanan main .form .baris6 .remind {
  color: #CB3A31;
}
.containerr .kanan main .form .lanjutkan {
  background-color: #2ECC71;
  border: none;
  width: 117px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  gap: 4px;
  margin-left: 841px;
  margin-bottom: 30px;
}
.containerr .kanan main .form .lanjutkan p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}/*# sourceMappingURL=daftar.css.map */