@import url("detail_dasboard");
.body {
  font-family: "Inter", sans-serif;
}

#container {
  position: relative;
  width: 1440px;
  height: auto;
  background-color: #29B362;
}

#kiri {
  width: 248px;
  background-color: #EEFAE5;
  padding: 0;
  border-radius: 0px 10px 0px 0px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}
#kiri header {
  background: #29B362;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 0px 0px;
  width: auto;
  height: 130px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#kiri header .wrap {
  margin: auto;
  width: 215px;
  height: 40px;
  left: 15px;
  top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#kiri header .wrap a {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  padding-right: 32px;
  text-decoration: none;
}
#kiri header .wrap button {
  padding: 0;
  border: none;
  background-color: transparent;
}
#kiri .sidebar {
  background-color: #EEFAE5;
  width: 224px;
  position: relative;
  margin: auto;
}
#kiri .sidebar hr {
  border: 1px solid black;
}
#kiri .sidebar .profil {
  background-color: #FFFFFF;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  height: 181px;
  width: auto;
}
#kiri .sidebar .profil .wrap {
  position: absolute;
  padding-top: 17px;
}
#kiri .sidebar .profil .wrap .wrap-profil {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}
#kiri .sidebar .profil .wrap .wrap-profil .img {
  width: 86px;
  height: 86px;
}
#kiri .sidebar .profil .wrap .wrap-profil .wrap-status-profile {
  text-align: left;
}
#kiri .sidebar .profil .wrap .wrap-profil .wrap-status-profile #nama {
  font-weight: 700;
  font-size: 24px;
  margin: auto;
}
#kiri .sidebar .profil .wrap .wrap-profil .wrap-status-profile #status {
  font-weight: 700;
  font-size: 20px;
  color: #696969;
  margin: auto;
}
#kiri .sidebar .profil .wrap #position {
  padding-left: 32px;
  margin-bottom: 6px;
  text-align: left;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  color: #696969;
}
#kiri .sidebar .profil .wrap button {
  background-color: #29B362;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  width: 104px;
  height: 32px;
  margin-right: 108.5px;
  margin-left: 11.5px;
}
#kiri .sidebar .profil .wrap button p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #090909;
  margin: 0;
  padding: 0;
  text-align: center;
}
#kiri .sidebar .menu1 {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#kiri .sidebar .menu1 button {
  border-radius: 6px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: flex;
}
#kiri .sidebar .menu1 button p {
  color: #090909;
  padding-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
#kiri .sidebar .menu1 button img {
  padding-left: 14px;
}
#kiri .sidebar button:hover {
  background-color: #2ECC71;
  border-radius: 6px;
}
#kiri .sidebar button.active {
  background-color: #29B362;
}
#kiri .menu2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#kiri .menu2 .dropdown {
  display: flex;
  flex-direction: column;
}
#kiri .menu2 .dropdown button {
  border-radius: 6px;
  height: 40px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#kiri .menu2 .dropdown button img {
  padding-left: 14px;
}
#kiri .menu2 .dropdown button p {
  color: #090909;
  padding-left: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin: 0;
  max-width: 148px;
}
#kiri .menu2 .dropdown button .img-menu {
  margin-left: auto;
}
#kiri .menu2 .dropdown button:hover {
  background-color: #2ECC71;
  border-radius: 6px;
}
#kiri .menu2 .dropdown button.active {
  background-color: #29B362;
}
#kiri .menu2 .dropdown .dropdown-container {
  display: none;
  flex-direction: column;
}
#kiri .menu2 .dropdown .dropdown-container button p {
  padding-left: 42px;
}
#kiri .menu3 {
  margin-top: 81px;
}
#kiri .menu3 button {
  background-color: #F2C94C;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  width: 232px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#kiri .menu3 button p {
  margin: 0;
  padding-left: 4px;
}

#main-content {
  background-color: #EEFAE5;
  padding: 0;
}
#main-content .header {
  background-color: #29B362;
  height: 130px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-content .header h1 {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  padding-left: 50px;
}
#main-content .header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 687px;
}
#main-content .header .menu .input-search {
  position: relative;
  background: #FFFFFF;
  opacity: 0.75;
  border-radius: 15px;
  width: 354px;
  height: 54px;
  display: flex;
}
#main-content .header .menu .input-search img {
  position: absolute;
  height: 19.4px;
  width: 19.4px;
  margin: auto;
  margin-top: 17px;
  margin-right: 17.4px;
  margin-left: 27.4px;
}
#main-content .header .menu .input-search input {
  border: none;
  width: 100%;
  padding-left: 3.5rem;
  border-radius: 15px;
}
#main-content .header .menu .input-search input:focus, #main-content .header .menu .input-search input:hover {
  outline: none;
  border: 2px solid #29B362;
  /* background-color: #fff; */
  box-shadow: 0 0 0 4px rgba(234, 76, 137, 0.1);
}
#main-content .header .menu #notif {
  border: none;
  background: #2ECC71;
  border-radius: 15px;
  width: 54px;
  height: 54px;
}
#main-content .header .menu #store {
  border: none;
  background: #2ECC71;
  width: 220px;
  height: 54px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30.5px;
}
#main-content .header .menu #store p {
  margin: auto;
  margin-left: 15px;
  margin-right: 100px;
  font-weight: 700;
  font-size: 20px;
}
#main-content .header .menu .dropdown-menu {
  border: 2px solid #2ECC71;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 448px;
  height: 216px;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown ul {
  list-style-type: none;
  padding: 0;
  width: 444px;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown ul li .wrap:hover .tooltiptext {
  visibility: visible;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown ul li .wrap {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 16px;
  height: 48px;
  border-bottom: 1px solid #D5D5D5;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown ul li .wrap img {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown ul li .wrap p {
  margin: 0;
  width: 200px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: 90909;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown ul li .wrap .tooltiptext {
  visibility: hidden;
  height: 32px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: auto;
  left: calc(33% - 122.5px);
  background: #575757;
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.25);
  margin-top: 87px;
  margin-left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown ul li .wrap .tooltiptext p {
  width: auto;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown ul li .wrap .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #575757 transparent;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown ul li .wrap .status-aktif {
  width: 43px;
  height: 20px;
  border: 1px solid #B9EED0;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown ul li .wrap .status-aktif p {
  color: #2ECC71;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown ul li .wrap .status-non-aktif {
  width: 152px;
  height: 20px;
  border: 1px solid #FFF4F2;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown ul li .wrap .status-non-aktif p {
  color: #CB3A31;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown button {
  width: 175px;
  height: 40px;
  background: #2ECC71;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 4px;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown button p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
#main-content .header .menu .dropdown-menu .wrap-dropdown button:hover {
  background-color: #2cbb67;
}
#main-content .content {
  width: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-content .content .content1 {
  margin-top: 44px;
  background-color: white;
  width: 1031px;
  height: 108px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  position: relative;
}
#main-content .content .content1 .isi {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 15px;
  margin-top: 15px;
}
#main-content .content .content1 .isi img {
  width: 56px;
  height: 56px;
}
#main-content .content .content1 .isi .alamat {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
#main-content .content .content1 .isi .alamat h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}
#main-content .content .content1 .isi .alamat p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
#main-content .content .content1 .isi #content-isi-text {
  background: #FFF4F2;
  border: 1px solid #EEB4B0;
  border-radius: 6px;
  width: 175px;
  height: 20px;
  font-weight: 550;
  font-size: 12px;
  color: #CB3A31;
}
#main-content .content .content2 {
  margin-top: 44px;
  background-color: white;
  width: 1031px;
  height: 239px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
#main-content .content .content2 .title {
  height: 89px;
  background: #2ECC71;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
#main-content .content .content2 .title #content2-judul {
  text-align: left;
  padding-top: 30px;
  padding-left: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #090909;
}
#main-content .content .content2 .isi {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 27px;
  gap: 30px;
}
#main-content .content .content2 .isi img {
  border: 3px solid #2ECC71;
  border-radius: 5px;
  width: 92px;
  height: 92px;
}
#main-content .content .content2 .isi .isi-konten {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#main-content .content .content2 .isi .isi-konten h1 {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}
#main-content .content .content2 .isi .isi-konten p {
  background: #FFF4F2;
  border: 1px solid #EEB4B0;
  border-radius: 6px;
  width: 175px;
  height: 20px;
  font-weight: 550;
  font-size: 12px;
  color: #CB3A31;
  margin: 0;
}
#main-content .content .content2 .isi .isi-konten button {
  border: none;
  width: 63px;
  height: 32px;
  background: #2ECC71;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}

.modal-body {
  width: 400px;
  border: 1px dashed #000000;
  border-radius: 16px;
}
.modal-body .wrap1 {
  display: flex;
  justify-content: space-between;
}
.modal-body .wrap1 p {
  margin: 0;
}
.modal-body .wrap1 .wrap-2 {
  display: flex;
  border-bottom: 1px dashed #000000;
  gap: 10px;
  width: 221px;
}
.modal-body .wrap1 .wrap-2 p {
  margin: 0;
}
.modal-body .wrap2 {
  display: flex;
  justify-content: space-between;
}
.modal-body .wrap2 p {
  margin: 0;
}
.modal-body .wrap2 .wrap-2 {
  display: flex;
  border-bottom: 1px dashed #000000;
  gap: 10px;
  width: 221px;
}
.modal-body .wrap2 .wrap-2 p {
  margin: 0;
}
.modal-body .wrap3 {
  display: flex;
  justify-content: space-between;
}
.modal-body .wrap3 p {
  margin: 0;
}
.modal-body .wrap3 .wrap-2 {
  display: flex;
  border-bottom: 1px dashed #000000;
  gap: 10px;
  width: 221px;
}
.modal-body .wrap3 .wrap-2 p {
  margin: 0;
}
.modal-body .wrap4 {
  display: flex;
  justify-content: space-between;
}
.modal-body .wrap4 p {
  margin: 0;
}
.modal-body .wrap4 .wrap-2 {
  display: flex;
  border-bottom: 1px dashed #000000;
  gap: 10px;
  width: 221px;
}
.modal-body .wrap4 .wrap-2 p {
  margin: 0;
}

.modal-footer {
  margin-top: 60px;
  padding: 0;
  padding-bottom: 30px;
  border: none;
}
.modal-footer #Btn-cancel {
  width: 150px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #EEB4B0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}
.modal-footer #Btn-cancel p {
  color: #CB3A31;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.modal-footer #Btn-buy {
  background: #2ECC71;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  width: 150px;
  height: 40px;
  border: none;
}

.kiri-header-wrap-a {
  display: none;
}

.kiri-width {
  width: 5% !important;
}

.profil-menu {
  background: none !important;
  box-shadow: none !important;
  border-radius: none !important;
}

.wrap-profil-menu {
  display: none !important;
}

.menu1-menu {
  width: auto !important;
  align-items: center !important;
}

.menu1-menu-button {
  width: auto !important;
}

.menu1-menu-p {
  display: none !important;
}

.kiri-sidebar-menu1-button-img {
  padding-left: 0 !important;
}

.kiri-menu2-dropdown-button-img {
  padding: 0 !important;
}

.menu2-dropdown-button {
  width: 44px !important;
  justify-content: center !important;
}

.menu2-dropdown-p {
  display: none;
}

.menu2-dropdown-img {
  display: none;
}

.menu2-toogle {
  display: flex;
  align-items: center !important;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-menu {
  width: auto !important;
  margin: auto;
}

.menu3-menu {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.menu3-button-menu {
  display: block !important;
  width: 44px !important;
}

.menu3-p-menu {
  display: none !important;
}/*# sourceMappingURL=dasboard.css.map */